.banner {
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.banner__title{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

