.fishList {
    background-color: mediumorchid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
   


.fish {
    display: flex;
    background-color:plum;
    border: 4px solid white;
    margin: 4em;
    word-wrap: wrap;
    justify-content: left;
    width: 70%;
    height: 70%;
    
}


.fish__picture {
    display: flex;
    max-width: 15rem;
    max-height: 15rem;
   
}







