.locationsList {
    background-color: mediumaquamarine;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

.locations {
    background-color: mediumseagreen;
    width: 50%;
    height: 50%;
   
   
}


.locations__picture {
    max-width: 15rem;
    max-height: 15rem;
   
    
}