.locationsList {
    background-color: mediumaquamarine;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

.locations {
    display: flex;
    background-color: mediumseagreen;
    width: 65%;
    height: 75%;
    display: flex;
    border: 4px solid white;
    margin: 4em;
  
    justify-content: center;
 
   
}


.locations__picture {
    display: flex;
    max-width: 15rem;
    max-height: 15rem;
   
    
}