.tipsList {
    background-color: dodgerblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.tips {
    display: flex;
    background-color: royalblue;
    margin-bottom: 2vw;
}